body {
  
    padding: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

.card{
    
    display:flex;
    background-color: rgb(183, 240, 243);
    justify-content: space-around;
    width: 400px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    border-bottom: 12px solid #d8cefe;
}

.avatar{
    width:150px;
    border-radius: 20px;
    background-color: aquamarine;
   
}

.info{
    
    color: #2b2839; 
    font-family: 50px;
}
